*{
    margin: 0;
    padding: 0;
}

body{
    overflow-y: auto;
    overflow-x: hidden !important;

}

header{
    height: 60px;
}

header .navbar{
    background-color: #343A40;

}

.navbar .navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 0 16px;
    gap: 16px;
}

.navbar-container .nav-item a:hover{
    color: #fff !important;
}

 .navbar-container .active .nav-link{
    color: #fff !important;
} 

footer{
    background-color: #000;
    color: #fff;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h2{
    font-size: 32px;
}

p{
    font-size: 16px;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: calc(100vh - 85px);
}

.main-content p{
    text-align: center;
    line-height: 22px;
    font-weight: 600;
    padding: 32px 0 0;

}

.main-container {
    display: flex;
    padding: 4px;
    justify-content: center;
    align-items: center;
    gap: 4px;

}

#main-logo {
    width: 50px;
    height: 50px;
}

input{
    height: 42px;
}